
<h1>{{email.email | uppercase}}</h1>

<div class="content">
<table border="1">
    <tr><td>Email ID:</td><td>{{email.emailid}}</td></tr>
    <tr><td>Email:</td><td>{{email.email}}</td></tr>
    <tr><td>Email Type ID:</td><td>{{email.emailtypeid}}</td></tr>
    <tr><td>Email Type:</td><td>{{email.emailtype}}</td></tr>
    <tr><td>Email Type Active:</td><td>{{email.emailtypeactive}}</td></tr>
    <tr><td>Logged:</td><td>{{email.logged}}</td></tr>
    <tr><td>Last Updated:</td><td>{{email.lastupdated}}</td></tr>
    <tr><td>Active:</td><td>{{email.active}}</td></tr>
</table>
</div>
